<cfapplication name="Blogah" sessionmanagement="yes" clientmanagement="yes" sessiontimeout="#CreateTimeSpan(0,40,0,0)#">
<cfset application.db = "blogah_db">

<!--cfparam name="session.AdminID" default=""-->

<cfset application.filepath = "C:\ColdFusion2016\cfusion\wwwroot\Blogah\img">






